*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  width: 100%;
}
/* p {
  font-size: 16px;
  line-height: 1.6;
  color: #b3a3a3;
} */
section {
  padding: 30px 50px;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.u-mb-small {
  margin-bottom: 26px;
}
.u-mb-medium {
  margin-bottom: 100px;
}
.u-mb-large {
  margin-bottom: 80px;
}
